<script type="text/javascript">
    function pass(id) {
        $.get(`/admin/pass/?id=${id}`, function(retxt) {
            if (retxt == 1) {
                $('#main').load('/admin/teacherapplylist')
            } else {
                alert('数据库操作失败...')
            }
        })
    }
    function refuse(id) {
        refuseform.uid.value = id;
        $('#refuseModal').modal('show');
    }
    function refuseSub() {
        // console.log($('#refuseform').serialize());  // message=fff&uid=5c348b2b04513c39ccc4e37  //string
        $.get('/admin/refuse', $('#refuseform').serialize(), function(retxt) {
            if (retxt == 1) {
                $('#main').load('/admin/teacherapplylist')
            } else {
                alert('数据库操作失败...')
            }
        })
        return false;
    }
</script>
<table style="margin-bottom: 0px;">
    <caption style="padding-left: 10px;border-bottom: 1px solid #ccc;">讲师申请列表</caption>
    <tbody>
        <% rs.forEach(function(item) { %>
            <tr clsss="teacher" style="display: flex;justify-content: center;align-items: center;border-bottom: 1px solid #ccc;padding: 10px; 0">
                <td style="text-align: center;flex: 20%;">
                    <img style="width: 100px;height: 100px;" src="<%- item.photopath %>" />
                    <li style="list-style: none;margin-top: 10px;">
                        <span>姓名: <%- item.realname %></span><br />
                        <span>ID号: <%- item.idnumber %></span>
                    </li>
                </td>
                <td style="flex: 60%;overflow: hidden;line-height: 200%;">
                    <span><%- item.preview %></span>&nbsp;&nbsp;
                </td>
                <td style="flex: 20%;text-align: center;">
                    <input type="button" style="margin-bottom: 10px;" class="btn btn-success" value="审核通过" onclick="pass('<%- item._id %>')" /><br />
                    <input type="button" class="btn btn-success" value="审核驳回" onclick="refuse('<%- item._id %>')" />
                </td>
            </tr>
        <%})%>
    </tbody>
</table>

<div class="modal fade" id="refuseModal">
    <div class="modal-dialog">
		<div>
            <div class="modal-content">
                <div class="modal-header" style='text-align:center'>驳回理由<div>
                <div class="modal-body" style='text-align:center'>
                    <form name='refuseform' id='refuseform' onsubmit='return refuseSub();'>
                        <textarea name='message' rows='6' cols='67'></textarea><br/>
                        <input type='hidden' name='uid' />
                        <input type='submit' value='确认驳回' />
                    </form>
               </div>
               <div class="modal-footer"></div>
            </div>
        </div>
    </div>
</div>
